attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
GPUtil==1.4.0
h5py==3.1.0
idna==2.10
iniconfig==1.1.1
joblib==1.0.0
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mypy==0.790
mypy-extensions==0.4.3
numpy==1.19.2
olefile==0.46
packaging==20.8
pathspec==0.8.1
pillow==8.0.1
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pycodestyle==2.6.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.1
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
tensorboard==2.4.0
tokenizers==0.9.4
toml==0.10.2
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tqdm==4.54.1
transformers==4.1.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2

