tensorboard
numpy
transformers # huggingface transformers
h5py # .h5 files
tqdm # progressbar
pyyaml # .yaml files
gputil # gpu profiler
psutil # ram profiler
pydantic # typing extension
pytest # unit tests
mypy # typing
pycodestyle # code style check. pycodestyle --max-line-length 120 .
pathspec # git-ignore like patterns
